.header {
    width: 100%;
    background: #40545C;
}
.header.dark {
    background: #40545C;
}

.header > nav {
    position: relative;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header > nav .navBar-bar-darkmode {
    display: none;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.header > nav .nav-bars-btn {
    color: #ffffff;
    font-size: 1.5rem;
    cursor: pointer;
}

.header > nav .navlink-items {
    display: flex;
    gap: 20px;
    color: #ffffff;
}

.header > nav .navlink-items > a {
    color: currentColor;
    transition: 0.3s;
}

/* .header > nav .navlink-items > a.active {
    color: red
} */

.header > nav .navlink-items > a:hover {
    color: red;
}

.website-theme-button {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: #606e75;
    display: grid;
    place-items: center;
}

footer.footer {
    color: #ffffff;
    background: #2b2c2c;
    text-align: center;
    padding: 0.8rem 0px;
}

footer.footer.dark {
    color: #ffffff;
    background: #40545C;
}

footer.footer .footer-content {
    max-width: 800px;
    margin: 0 auto;
}

footer.footer .social-links {
    list-style-type: none;
    padding: 0;
    margin-top: 0.5rem;
}

footer.footer .social-links li {
    display: inline;
    margin: 0 10px;
}

footer.footer .social-links a {
    color: #fff;
    text-decoration: none;
}

footer.footer .social-links a:hover {
    text-decoration: underline;
}
